/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 900px;
    height: 300px;
}

#linksboven{
    width:250px;
    height:275px;
    background-color: red;
    display: inline-block;
    border-right: solid white 25px;
    border-bottom: solid white 25px;
}


#rechtsboven{
    width:600px;
    height:275px;
    background-color: red;
    display: inline-block;
    border-left: solid white 25px;
    border-bottom: solid white 25px;
}

#onderkant{
    width: 900px;
    height: 300px;
}

#linksonder{
    width:250px;
    height:275px;
    background-color: red;
    display: inline-block;
    border-right: solid white 25px;
    border-top: solid white 25px;
}

#rechtsonder{
    width: 600px;
    height:275px;
    display: inline-block;
    background-color: red;
    border-left: solid white 25px;
    border-top: solid white 25px;
}

