ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
  }
  
  #li {
    width: 100%;
  }
  
  li a {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: top;
  }
  li a:hover {
    background-color: rgba(2, 2, 212, 0.849);
  }

  #all{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
  }
  #table, th, td,tr {
    border: 1px solid black;
    background-color: darkcyan;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    Height: 50px;
    text-align: center;
  }
