ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
  }
  
  #li {
    float: left;
    width: 100%;
  }
  
  li a {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: blue;
  }

  #all{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
  }
  table, th, td,tr {
    border: 1px solid black;
    background-color: darkcyan;
  }

