/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 900px;
    height: 215px;
    background-color:rgb(102, 173, 218);
}

#midden{
    width: 900px;
    height: 120px;
    background-color: black;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
}

#onderkant{
    width: 900px;
    height: 215px;
    background-color:rgb(102, 173, 218);
}

