/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */


#cirkel {
    margin: 145px 280px;
    width: 325px;
    height: 325px;
    background: red;
    border-radius: 50%
  }




